* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

@font-face {
  font-family: my-font;
  src: url(./assets/fonts/HYQingZhouXingJ-2.ttf);
}
